/* Card{


    background-color: aqua;
} */


.flex{
    display: flex;
    flex-wrap: wrap;
}

.card{
    /* height:200px; */
    background-color: #f1f2f4;
    min-height: 40vh;
    margin:20px;
    margin-right:5px;
    border-radius:15px;
    padding: 20px;
}
.card button{
    color:#42679b;
}
.task{
    background-color: #fff;
    padding:5px;
    margin:5px;
    border-radius:8px;
}